*.o
*.a
*.swp
*.DS_Store
Makefile
Makefile.in
aclocal.m4
aclocal/
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
version.h
stamp-h1
libs/Makefile
libs/Makefile.in
libs/aclocal.m4
libs/autom4te.cache/
libs/config.log
libs/config.status
libs/configure
libs/midi++/.deps/
libs/midi++/Makefile
libs/midi++/Makefile.in
libs/midi++/aclocal.m4
libs/midi++/autom4te.cache/
libs/midi++/config.guess
libs/midi++/config.h
libs/midi++/config.h.in
libs/midi++/config.log
libs/midi++/config.status
libs/midi++/config.sub
libs/midi++/configure
libs/midi++/depcomp
libs/midi++/install-sh
libs/midi++/libmidi++.pc
libs/midi++/libmidi++.spec
libs/midi++/midi++/Makefile
libs/midi++/midi++/Makefile.in
libs/midi++/missing
libs/midi++/stamp-h1
libs/midi++/version.cc
libs/pbd/.deps/
libs/pbd/Makefile
libs/pbd/Makefile.in
libs/pbd/aclocal.m4
libs/pbd/autom4te.cache/
libs/pbd/config.guess
libs/pbd/config.h
libs/pbd/config.log
libs/pbd/config.status
libs/pbd/config.sub
libs/pbd/configure
libs/pbd/depcomp
libs/pbd/install-sh
libs/pbd/missing
libs/pbd/pbd/Makefile
libs/pbd/pbd/Makefile.in
libs/pbd/stamp-h1
libs/pbd/version.cc
src/.deps/
src/Makefile
src/Makefile.in
src/gui/.deps/
src/gui/Makefile
src/gui/Makefile.in
src/gui/slgui
src/sooperlooper
src/slregister
src/slconsole
*.pyc
*.pye
*.htmle
*_wrap.cxx
*.so
*.deps/
*.h.in~
