<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>net.essej.slgui</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>slgui</string>
	<key>CFBundleIconFile</key>
	<string>slgui.icns</string>
	<key>CFBundleName</key>
	<string>SooperLooper</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>VVVVV</string>
	<key>CFBundleShortVersionString</key>
	<string>VVVVV</string>
	<key>CFBundleGetInfoString</key>
	<string>SooperLooper version VVVVV, (c) 2008 Jesse Chappell</string>
	<key>CFBundleLongVersionString</key>
	<string>VVVVV, (c) 2008 Jesse Chappell</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2007 Jesse Chappell</string>
	<key>LSRequiresCarbon</key>
        <true/>
	<key>CSResourcesFileMapped</key>
	<true/>

	<key>CFBundleDocumentTypes</key>
	<array>
	  <dict>
	    <key>CFBundleTypeExtensions</key>
	    <array>
	      <string>slsess</string>
	    </array>
	    <key>CFBundleTypeIconFile</key>
	    <string>SooperLooperSessionIcon.icns</string>
	    <key>CFBundleTypeName</key>
	    <string>SooperLooper Session</string>
	    <key>CFBundleTypeRole</key>
	    <string>Editor</string>
	  </dict>
	</array>
</dict>
</plist>
